POSTGRES_USER=abdy
POSTGRES_PASSWORD=changeme
KC_DB_USERNAME=abdy
KC_DB_PASSWORD=changeme
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=changeme
SPRING_DATASOURCE_USERNAME=abdy
SPRING_DATASOURCE_PASSWORD=changeme
SONAR_TOKEN=your_sonar_token
SONAR_HOST_URL=http://172.17.0.1:19000
NVD_API_KEY=your_nvd_api_key
